
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.name {
    padding-left: 10px;
    padding-right: 10px;
}

.bottom{
    position: absulte;
    bottom: 0px;
}

.subLink{
    margin-top: -8px;
}
